<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta
      name="google-site-verification"
      content="7pF9C2rYxWnm0NDrC296OXh8O9LK1cOD1PHhvi80gW8"
    />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <title>trys-space-vue</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    />
    <script
      type="text/javascript"
      src="//app.storyblok.com/f/storyblok-latest.js"
    ></script>
  </head>

  <body>
    <noscript>
      <strong
        >We're sorry but Trys Space doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
